image.png
data/spatial/
data/Interactive - data_annotation.ipynb
data/Interactive - data.py.ipynb
scripts/test.zarr/zarr.json
scripts/test.zarr/images/zarr.json
scripts/test.zarr/images/Visium_HD_Human_Colon_Cancer_full_image/zarr.json
data/data_annotated.ipynb
data/processed/crc_tutorial_17032026_1134/Visium_HD_Human_Colon_Cancer_clustered.h5ad
data/processed/crc_tutorial_17032026_1134/model/model.safetensors
data/processed/crc_tutorial_17032026_1255/Visium_HD_Human_Colon_Cancer_annotated.h5ad

scripts/GSE200997/GSE200997_CRC_scRNA_reference.h5ad
scripts/GSE200997/GSE200997_GEO_processed_CRC_10X_cell_annotation.csv.gz
scripts/GSE200997/GSE200997_GEO_processed_CRC_10X_raw_UMI_count_matrix.csv.gz
scripts/GSE200997_series_matrix.txt.gz
.claude/settings.local.json
